#title
{
    background-color: #497174;
    padding-bottom: 3%;
    position: relative;
    z-index: 1;
}
h1
{
    font-family: 'Montserrat black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color:#fff

}
.nav-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
.container-fluid
{
    padding-top: 3% 5%;
  
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    padding-bottom: 3.5rem;
}

.nav-link
{
 
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 18px;
}
.download
{
    margin:2.5%;
}
.sra
{
    width:40%;
    transform:rotate(25deg);
    position: absolute;
  

    
     
}
.navbar-brand
{
    font-size: 2rem;
   
}
#features
{
    padding:7% 15%;
   
    background-color: #fff;
    position: relative;
   z-index: 1;
   
    
}
.feature{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
}

.va{
  color:#ef8172;
  margin-bottom: 1rem;
}
.va:hover{
    color: #ff4c68;

}
#testimonials
{
    padding:7% 15%;
    background-color:#D6E4E5;
    text-align:center;
}
h2{
    font-family:'Montserrat', sans-serif;
    color:#fff
}
#ka {
    width:10%;
    border-radius: 100%;
}
#press
{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.carousel-item
{
    padding:15 15%;
    margin-bottom: 5%;
}
.bo
{
    width:15%
}
#pricing
{
    padding:100px;
    text-align: center;
}
#srav
{
    color:black;
    font-weight: bolder;
}
@media(max-width:1028px)
{
    .sra
    {
        transform:rotate(0);
        position:static;
    }
    h1
    {
        text-align: center;
    }

}
#cta
{
    background-color:#ff4c68;
    padding:7% 15%;

}
#cat
{
    font-size: 42px;
    font-family:'Montserrat';
    font-weight: bolder;
    color: #fff;
    text-align: center;
    padding: 32px;
}
.pee
{
   
    margin-right: 2%;
}
#footer
{
   background-color: #fff;
   padding: 7% 15%;
}
.cla
{
    margin:0px 5px;
}

img{
    width:150px;
    height:150px;
    border-radius: 50%;
}
#x{
    color:#EFF5F5
   
}
p
{
    color: #497174;
}
.b{
 border-radius: 0%
}
.bp
{
    border-radius: 80%;
}
h2{
    color: #fff;
}
#lo
{
    color: #497174;
}
#footer
{
    background-color:#497174 ;

}
#hh
{
    background-color: #fff;
}
#hi
{
    background-color: #fff;
}
#ka
{
    padding-left: 0px;
    margin-left: 0px;
    
}
.ps
{
    margin-left: 15px;
}
.carousel-control-prev-icon
{
    background-color:#497174;
    padding-right:150px;
}
.carousel-control-next-icon
{
    background-color:#497174;
    padding:150px;
}
